## log files
*/*.log
*/*/*.log

## R History files
.Rhistory
*/.Rhistory
*/*/.Rhistory

## other files
*/*.nav
*/*.aux
*/*.snm
*/*.toc
*/*/*.nav
*/*/*.aux
*/*/*.snm
*/*/*.toc

## user files
.Rproj.user
.Ruserdata


